
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: double black 5px;
}
.gameBorder{
    height: 450px;
    width: 450px;
    flex-wrap: wrap;
    display: flex;
    border: solid black 2px;
}
.title{
    padding: 70px;
    font-size: 40px;
    font-weight: 700;
}
.scores{

    display: flex;
}
.playerX, .playerO{
    padding: 0 40px;
    font-size: 25px;
    font-weight: 800;
    border: solid black 2px;
}
.playerX{
    color: red;
}
.playerO{
    color: blue;
}
.xscore, .oscore{
    text-align: center;
    border: solid black 2px;
}
.currentPlayer{
    border: solid black 2px;
    font-size: 20px;
    padding: 0 9px
}
.box{
height: 150px;
width: 150px;
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: center;
font-weight: 800;
font-size: 80px;
border: solid black 2px;
}

.currentplayerSign{
    text-align: center;
    font-size: 30px;
}